*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 350px;
    border: 1px white;
    background-color: cornsilk;
    box-shadow: 10px 10px 5px gray;
    border-radius: 10px;
}
.countdown{
    font-size: 40px;
     font-weight:bold ;
     padding: 5px;
}
button{
    background-color:gainsboro ;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(211, 229, 174);
}